<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloWorldTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04YE59PFKTC2ZZA5F8X8H4LG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0KCKGL61RX0GFENO0INI9D0P</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEHPSGLJADXHT8E7M1Q6ZB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1RAP83DT184I4R06DED9R8N1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1VPKS0UQCUWDVOWZL4RWNXKS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1WLGZ0P68MMC6UTHJQ303ON9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1WU78RQ144MVXK4KXMI78XLJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29DRQ1FVN423B2YSHI916GNO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2MLW1WP0UY6UWSR9EV6E2RDH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30P7BHL6660J4JLYWD7XJ2F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BDVDOM15P6ZZG9YWXDXBZHC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4GBBBPL064YTK1HF43YOHLM8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4GORCWML7FBZQKP57O2B2LN7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4KFQIUTOTDHT36U4BXRMOIVM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4M3TZD8TCYXFE2636CD328FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4SXB8C9M3LWHLEYPSUM8UJXY</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4TDRIYQV7C1W39CRO6I4O4WW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5VHP9FT7QNJQJCZ5LU25SAOB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6489VGM2EJDTWFHUABD4T8KW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662E0HG65W00RQC9GEMJ8MT3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6SR308UWRCM0EEAYOSXT2LUH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6VMMKYQFVFXP4IZIIYCL4P0N</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7OIAHEQVCMU2N25TE57ROZJD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83VJO8LKB4IU6HF0VMNL7BW6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9JTFIQ8A3ODNO5UHR7VD799G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9NLQY73L1BQZ7LT0JI7G2YXF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9OR25DW4UNR02UE02M1F0YF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FUEYL7HBNTJZJAKH7LU3UU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AHVFZI65FWVUD8CPAGW3AL85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ANNU5B3ATICCCA3OXM2TDPE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ANXETIP7D9JUG8RYB9DHKZ7O</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BQU4TTX84W2Q6H20VHETO2G5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8I17Y1OUC4VU9SGV4D4NWH1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CHLQ6ZMMCJAHMB5DY557H4X6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CP6IVQZ196QVLY6I75BYYLGD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CPGZA06NUU17EKPKQR1150K1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CQMVF2JA7N4BDUJWFATDPNQH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CT5LRMM229CAFO3N0BYO7TX6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0JJKMFGU0CV8X85O1LFWBSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3PGEA8L9KU2SZN2079UV9JD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8IDFOSBS4HM0GMP4LFHNQSF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCLMUGVJA2GUZPYXAQW59FK4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFCEZ4JFCH3OJS94KE8M5K7T</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DU124I9I6U3IQ0JB96BVXFHG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DWF3D8OEQP5HMGZRB8ABMXVX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E427JK2KXVAOSWXM5S076LU7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E45VUU0NF0GRTAYOPTIS0N4V</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAX4NE380AAUDFYK3TGXT4FU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8HWH0VD4PI3J7R8B5KPCW09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FR8459SIQ7PPRZC412FT90LX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FZQIPEF4LI8Y7JMZQEYWKTIL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GEWP6R39WNR9BTAM8684EIKD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GG11XCUCDF7IOTTGG1DZMGZZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GIK5KS5UACQU89UCUAB6RSEW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GWP3TT4I8YVMYQL29U31FEQC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HBUGLQRWUO7IEZ3O2MUHFJGJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HGL44RQBKO1PVSBS28KU3KKW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HMG2VNJVKGDPFFFY2QXP641Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HQYTCEK988XM44TDO986I4L7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HW9SUVJSAPD9KM0CUKLUUU79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HWCJTY4M2FST14HQY1YUGLTB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IDZYK10QG0I878248WTOAN5O</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IKRV7JTP8N8K03WA3SKLC8PZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ISVUU4FS9MN81O6GI8J3OZEJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>J6SGPLLLIN5BPHJ6TZ6W3XLU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>JJM66AGH7VLK9ES9JYAZDJLG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>K8W58CAPOYKDAUITZRWC8BFQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KEZ7WWPX9QZIX7CQVOG1GFK9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KJ7FSIEHC896U9B1RYX1JR2O</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KKNYIJ82HABIWX0XU5J6BE50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KTS2CFJZF8D4CCN7AT2S2WT9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>L3VA2MMI2031AG06MJ1UD6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>L4AA2REGCWLMU5C0K0W2KWUS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>M0L3CJREVTPKSD7X03S0XPZ7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MQSN7KLSU4YT8BLTW0RPEBV5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MTT6AK6FI4W1HG4XB0OKDII5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MWH9NHIWORBN6MYO903QA5DW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MY0NN2EH9JYK238OL3SS5S4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>N2ZMXBKZK22CMSC1HRX8VS0T</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NJI3NG724XEHGFE05ZJ1RRWM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NWL2N31RDIKBKIPMA3ACDCS2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OJXBCCFTGJEC6RALK6EK4PTL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OK43TCU3XQTOVXJUTU9UODEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OK6M0MZW49MJH4LGUV30AH8U</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OX4J5EN4T9TQKU3WX75A8XQK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OZEE2U140NL5KLYK2KLEVW6R</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PEB7PF93O2Q6OPIY20P228PR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PFMTI3AE9IOLT8UT88PGA0T6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PMMN92KEP0YZ44HAGGQ1CJVX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PR0PVUC2PVW3MN5QD26J5DMM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Q1IH9J71V6RFD0XJN800U0VE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Q3N0CR1AJ6QOEQ0HS5I7RDOQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Q8YDWTBU8NY3HPVBRXX14IJP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QDAJ6Q40MZHQ2WKRX39CYW38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QLOJPOAP5HYJFXV5JGAFLQYF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QTVEWHOQWD42JBHEP70D3P1P</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>R992DZ9E00LJA5MU850E7Y42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RBLHBYTMOWW8L8GFY7L0TPKH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RCB9AR2HJZQVYB3BCEF6K41R</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RJ9S7CYV1A3GQEVSO9BEP8XX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>S0MR19YVHO1JP5UOF51UPK2Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SE6BKUVX9GPW55QX7WE44CEV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGQCKEK79ZGH0OSBTLSOPAN4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SLAPH6WLAI22PTERATZF0YJG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SNDLDV3IN8NELN4OZHGKUSTS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>T68CE0NTA9B3LET8PWWAMSEK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>T9HOHHNDKNGHR9PK2CX2P3RV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TIDJZ2S6GVNLLLLLF92NT0L8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TKBKQM4W122CGLPWUGQQRQI8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>U3ARYYKUL18MO67BGKFQ7G0K</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>U4MQ01I6H59BU2ZSMCGI8ATU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UJMR3ZV7N6105VWKTGUJS1WW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UP3ODZI7RTCAO2MBGU2JUJ0O</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UQYJEPQ5CEQ6SRJ8MM333MJ5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V0Y9PT4HE738ZZU8P7TDJ5Y0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V7KSDNQIHWYD8X52DRY4AEGL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VJA6WMIIT8JUQ6MDHV4XD6JS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VOS9Z4VY8CF5LI8MKRPT3EK1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>W4GA4Y3GBFYQ2BNBKIW3CWWE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WK32XTFB86OCC4HNGKCPLFWO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WL1ZHX6QPFOLVQFD6V71VZX4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WL3DLNNDS7GHCHTS64GKO1YN</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WLOB8LEH6YSKTCDOXVY0KIRZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XVH5S8S24ZSNOJA2D7APRHW4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XWMO65JGU07YHF5P1FKCMMVE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>YMKEZCL7DKG9IGFTQN7E9YS2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>YO2OY9NGSLHIUGAZ1JDAXW0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ZLSPY7RW934SKOLG478WJPQA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
