<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B1J52Z6ENIGAOBCBODSW53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DSKHYJXPE3KYRS9Y7H84C8Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56TWQFWAIL1XO197KWMZSRQR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6GCIAS1U83A1M5TW0ONBM9M3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AQ8XJ996207EO4VRJVE6DVF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FU1HWKSG53NVX0XFT5KKBL5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CTY6HIRFUOBDT6DNDB6WFP4U</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FMBJB6MVSEPIX32PO6O4NG03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GWHDNFBNWH6P1K5BFOYQ7M7Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KW6DTCVPQ1YGM2ZXIG3GIYEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LCT0D7HPPJVXK0ZBPMEZ4AV4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>M5Y7DFZ51AZSN6WQ2ZT0OFKC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NRAC0VDYXDG7Z6KYMVPB31K8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NXAE03D7TKQOPCQRZ6WURVNM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PNDAQKI3T4HP1QJYSUFC26MQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PPSO8LQZW7LCQL6NTJJRNMD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Q5LKY6J1I4EN9MX0JBO9NEWS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SELXVOGOFAH5OMUBP2VENIJK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>T2AD0AN073J1F7CJAQDCM5YQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UNVVIEAWRW2JVFZTMXNM1JLH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UWYP8AZT1LOL8V3GU9W3YC5G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VMOT42EPGB55EEPMVF2TV1XV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>X0F836J1DUGP59GFMLEZE3SL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XLNS16F0D40RX9NB3MOEP9NV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XPO67ECWUL51EGL4M5N0789W</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Z6QI2EWOIHTW0V0EEUGGKSLW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
