<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EADMTHKTJ5P7VZ4RAHUA1NR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ASTQPFZ9R47MVBFWU78DGFJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33DUI6OA0LDS7HTHAIJHM4QR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1J52Z6ENIGAOBCBODSW53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3GO8HLDR9LYH2LGUNIBL4Q2V</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3TH1E5YCD7ONMHTA99E70JRM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ZWQKU7C9N5069WYF89ZFEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DSKHYJXPE3KYRS9Y7H84C8Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EJXDION66D6SZ3GJXJ3QDLK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4PZOJMX04EAJ6MSZX6N1CQN8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4R74SN1FIL6LG1B8OMDR5W2G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4W23B5G0TAU5411W90J9T2KR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B23YE8IMNF2MQ5YHFUKNWP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552LL02QIQCJFSM75KZCQSB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56TWQFWAIL1XO197KWMZSRQR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5R9M2TE44BUS752WRN3AVJK4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6GCIAS1U83A1M5TW0ONBM9M3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AQ8XJ996207EO4VRJVE6DVF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7UP8LN0R5G4AFK5Z5KGGV2JC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7WQYPV16LNQ53492PAHRV17G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B76KG58AQYW2J3K2V2QI5WZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8LR84RO9LFT1JCZXCA1IZ2NM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8OI97CVMXC88E6WNP87LW89U</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8RYTU29HRV9W6RNWJRP0J837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9021O9UY1M6GVE7FGIY5E3X4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FU1HWKSG53NVX0XFT5KKBL5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CZ89I59QCW2FI7J16V5LZ9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8NMHSU3P3OV7RZHA3ZV3XKC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CTY6HIRFUOBDT6DNDB6WFP4U</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CWUQG5TEDX6SDJ3RG0WVOHE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0WJTLSLWFYFDIOD60FI5JAY</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37D2Q11CSHV3XKFELEBQZ33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7RZYK72IW40SZDE2X35GZDQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7N7XQQ7B5O1ZXXGRG8DWWH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EK5BGPDU07HAQQJV4VZBD1Z0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EOP18DOO10G5YGB6TB4BO879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EZYYWMJVG5J39TE2MW5EBL7J</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FMBJB6MVSEPIX32PO6O4NG03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FZ949P01KQY46KZ040WLE65X</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GRHZUPRJPG03EQSUR968VGRR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GUZ1UHCQQLO4E2R5C5LN0AFR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GWHDNFBNWH6P1K5BFOYQ7M7Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>H0PAVSQ1CAWZ01CFXE7EY9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>H2OR5OPFZ80IC9DZ5N14XOVT</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HR1HKX3Y4TO4AFVIL2OTX2MM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HY79K0GO3WWLVRDX77CVEA1T</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IDA2IZVXKJHVPIPZJKN6VYYL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IJE735LYGAXSA8E9FUZJ571C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>JC741LFSI5I8SZXV1D8M6TKH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>JFZQ40QMZLQ8FTCAW7KZOG45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>K2JOXH2X6K4LLJCLERQOPNKB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KFBOBRX6M905WTPSOEFXNR6P</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KQ8OF0POT9D92KZA3XT4ROF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KW6DTCVPQ1YGM2ZXIG3GIYEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>L4KS437TTAXNXVJ4JQ2AV7T9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LCR1A0RKMTHWA6802CODMLOH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LCT0D7HPPJVXK0ZBPMEZ4AV4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>M5Y7DFZ51AZSN6WQ2ZT0OFKC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>M6X7O5EUIUJ20XH89GEWXGUX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MW6CPBSKWFNHKBAXG6PSCM88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NEH4TBICMTCZSZ041P230S58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NHLWDCRA8ZIVFR85QKQKGQHR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NL7N1WA2TD71XSOW6JVNE2O6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NRAC0VDYXDG7Z6KYMVPB31K8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NSZJOZ5TFCFXENLFJSX4EDYG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NXAE03D7TKQOPCQRZ6WURVNM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>P7S4TU2VG16W55H3T8FALXMX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PNDAQKI3T4HP1QJYSUFC26MQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>POHKP0L12JO59QXQZZ8QHWJZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PPSO8LQZW7LCQL6NTJJRNMD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PZKZ28Q1TY3FGFFWFXUNSSKV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Q5LKY6J1I4EN9MX0JBO9NEWS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QXPCX9VJZS1DBZACTYKL66PJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>R1K09TERV8OBXDTZM5BM4A9Y</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RNYT2UWHONHIQF543GADA9OL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RO2GY5M7APCW8K2W72KP6CVP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SELXVOGOFAH5OMUBP2VENIJK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>T2AD0AN073J1F7CJAQDCM5YQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TAUY6OJ78GC9MF5V1RI52MJU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TB9JECH3E7DHTF37I5JQAI4Y</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>THY1VVVJSX8BR984HLRH7TXB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TZ6M30WQS2FRJNBBJVSB6M3G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UNVVIEAWRW2JVFZTMXNM1JLH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UWYP8AZT1LOL8V3GU9W3YC5G</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VANDSDC0B9S6CAJT330W3B7I</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VMOT42EPGB55EEPMVF2TV1XV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>W9OU4B9J0P753912E6WTMNQF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WGJZVNORMJIKVRKBJBXW6MEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>X0F836J1DUGP59GFMLEZE3SL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XCLGURMTS6TEF80H897LMHHP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XLNS16F0D40RX9NB3MOEP9NV</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XPO67ECWUL51EGL4M5N0789W</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>YG7KOQ4ICQ5A5FW81P0D7DIW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Z6QI2EWOIHTW0V0EEUGGKSLW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
