<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CW7VLWCY0EMQ453269AE5UO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21NRPUWEILEZ5SAN8YUBRWFQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23D0B2LBVSJA0Z8TPZCSM1XN</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2RTXOVUD2LF9FZDGCPUEKIT2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35OABXJ2O9UGERX0W05YGDUH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4JAW14IOXJKBZTZKK4U3I85U</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51K2HNQEIS6EQJCMFW545P7O</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5U1VU2LHLE3MAF7DY4C1JJD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6GM2Z3TXNSZYEUY2AJDC0AOO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6N620OUM49BFC033C9ZYURNL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>962PL64ES6PYZ4O0RG9REM0L</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9NP3E7JKYZHE6KMC4E1ZNXPL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9R3QYQJD2E9W6TXQQVMKMGJR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9XD96QU1MHF6YDZJF12ODLUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A413D6YMBBGFNKCAN3YTHSGM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AXZV150VA2TTB04K527Q8SKS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30LA1BI6D47KO02HJPXKHHU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CLCMK1WUU8IZWAC826WE99XT</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CWNF74PX2118C2DK8G33JZJR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EP0UJ4IV3H67ZWM74YPZHHBI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FOXHIS78UGFX23S201EMNOYX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GP0ALTUF5UVJW3LU2PKTBSGI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HS5B9ZSSTGMJFQ7G9PZVQQZN</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IYYPGPP6S4VLU9RDVII1Z263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KMIL2LUEFWUATW9WFSGOMRXZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>LNZ7I2AYAGMKA6P6NXIQZTAR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>N4K4DU4H51YTDPN04BQ3YXDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RDVYYZIC0NY1DFOAVPI7U1ZO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>S033LL7M0I7FPCXKRTMQ3M6Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SBCDUKJ2FQRD2SM7Z4HZC4YJ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TN9UMYCGTCUC4RQRKGFYJQDO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UABIWDL513QV4LXVBNYNQYI7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UEG4GBIP03O2H466X9VU8GCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UKYLH2R4D4RVIAL2S82403HI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VSTOQ2YMM4G951QWDL88IYHK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ZYPGQCFM8ZGA9F9B5JC4CXFQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
