<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1NT0WQ3D2O5BV7DBUJ7PXKQT</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1Y8UT4VUDQ50KR29NN80HL6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2KQCF48I0ZLW1GFYZCOBZ1YH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3L54OWXDKHDCT4TVRR31TU39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ZC6FE9QZLG9DNUNJ7PUMDT8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43IFBGXA4VV766IRAGQIIW6X</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5GK13R4S7GPILR4BINLVFTHQ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5HLRQ80XDH8G4K83BSSP9YM0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FHIKCA0S1MN6FVS779BODJR</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA75XUK4X2TKP0O6L1I67P61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AT4V39VTWU9RUV836SR2XN40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BQKEERPSMI2KCM7TH86K2GON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>H7IGS69SQ15VWPSTBX1B4KF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HKP88TCZ459UF3TK9MP9JWNZ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KHN32UVKJBEZ3PKFFGJB5JBN</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KR5JB6DK54844FFGCH5N6DY5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>O317TYE4FW8AZ2DWMRTXHALO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>O8IF5MJK0EPMI9RJ4M70MHSH</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>P2RLJV0ISOC2840C2F8S5HO9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>P61OOUNUDOOXXVM99RHYMNZA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QMF3B57P02642FOTYJF5A91S</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>QUZBVH8TDACMK1AQC1HVTEQ2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SF48U7ARX0H2RIVVNF8233IM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SMGCOUQJINZMGIE817ASQH7Z</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>VUAP5IDO3WEEZCXEFFDJCBN3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XQ0VE1SSJC9DXN91WU8V8N0P</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
