<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloWorldTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>GEWP6R39WNR9BTAM8684EIKD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GIK5KS5UACQU89UCUAB6RSEW</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>J6SGPLLLIN5BPHJ6TZ6W3XLU</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KEZ7WWPX9QZIX7CQVOG1GFK9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NWL2N31RDIKBKIPMA3ACDCS2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SGQCKEK79ZGH0OSBTLSOPAN4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
